* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.cabecalho {
    background-color: rgb(255, 255, 255);
}

.cabecalho-nav {
    display: flex;
    justify-content: center;
}

.cabecalho-nav-link {
    padding: 1rem;
    color: black;
    text-decoration: none;
}

.cabecalho-carrossel {
    height: 35rem;
    background-image: url('images/apple-event.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.cabecalho-carrossel-titulo{
    font-size: 3.5rem;
    color: aliceblue;
    font-weight: 700;
    letter-spacing: -2px;
}

.cabecalho-carrossel-link{
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 0.8rem;
    text-decoration: none;
    border-radius: 3rem;
    margin-bottom: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}